

@import 'base/mapas';
@import 'base/variables';

@import 'components/body';
@import 'components/header';
@import 'components/principal';
@import 'components/formulario';
@import 'components/footer';

@import 'base/extends';
@import 'base/mixins';

@import 'components/biografias';
@import 'components/fotovideos';
@import 'components/links';




/* media */

@media screen and (max-width: 1200px) {
    .cont__bio {
        .cont__foto img {
            margin-top: 1em;
        }
        .bio {
            h3 {
                font-size: 1.9em;
                margin: 0 auto .1em auto;
            }

            p {
                font-size: 1.1em;
            }
        }
    }
    .bio2 {
        .bio2__p {
            font-size: 1.3em;
        }
    }
    
}

@media screen and (max-width: 992px) {
    .cont__titulos {
        margin: 15em auto;

        .titulo-principal {
            font-size: 8em;
        }

        .cont__p {
            font-size: 1.7em;
        }
    }

    .cont__bio {
        width: 100%;

        .bio {
            h3 {
                margin: 1.6em auto .8em auto;
            }
        }
    }

    .cont__video {
        width: 100%;
        margin: 3em 0;
    }

    .form {
        .form__cont {
            label {
                width: 90%;
            }

            .input,
            .input--submit {
                width: 90%;
            }
        }
    }

    .titulo-secundario {
        width: 95%;
        margin: auto;
        margin-top: 1.2em;
        font-size: 3em;
    }

    .bio2 {
        width: 95%;
        margin: 5% auto;
    }

    .foto-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "img1 img2"
            "img3 img4"
            "img5 img6"
            "img7 img9"
            "img8 img8"
            "img10 img11"
            "img12 img13"
            "img14 img15";
        gap: .8em;
    }
    .link-item {
        margin-bottom: 2.5em;
    }
}

/* mobile */
@media screen and (max-width:576px) {
    .cont__titulos {
        margin: 8.5em auto;

        .titulo-principal {
            font-size: 5.5em;
        }

        .cont__p {
            font-size: 1.5em;
        }
    }

    .cont__bio {
        width: 100%;

        .bio {
            h3 {
                font-size: 2.5em;
                margin: 1.6em auto .8em auto;
            }

            p {
                font-size: 1.2em;
            }
        }
    }

    .cont__video {
        width: 100%;
        margin: 3em 0;
    }

    .form {
        padding: 1em 0;

        .form__cont {
            label {
                width: 90%;
            }

            .input,
            .input--submit {
                width: 90%;
            }
        }
    }

    .titulo-secundario {
        width: 95%;
        margin: auto;
        margin-top: 1em;
        font-size: 2.5em;
    }

    .bio2 {
        border-radius: .5em;
        padding: .5em;
        width: 95%;
        margin: 5% auto;

        .bio2__spoty {
            padding: .5em;
            border-radius: 1em;
        }

        .bio2__p {
            padding: .5em;
            font-size: 1.1em;
        }
    }

    .titulo-fotos {
        font-size: 2.5em;
    }

    .titulo-videos {
        font-size: 2.5em;
    }

    .videos-container {
        width: 100%;
    }

    .foto-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7"
            "img8"
            "img9"
            "img10"
            "img11"
            "img12"
            "img13"
            "img14"
            "img15";
    }

    .link-item {
        margin-bottom: 2.5em;
    }
}