/* footer */
footer {
    background: rgb(128, 128, 128);
    background: radial-gradient(circle, rgba(128, 128, 128, 1) 0%, rgba(124, 166, 141, 0.456) 100%);
    margin: 0;

    .pie {
        padding-top: 2.8em;
        display: flex;
        align-items: center;
        justify-content: center;

        .pie__ul {
            width: 12em;
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0;

            li a img {
                width: 2em;
                margin-bottom: 0;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.4);
                }
            }
        }
    }
}
.copyr{
    color: map-get($map: $colores, $key: primero);
    font-size: .8em;
    font-weight: 500;
    display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
        margin: 0 auto 2em auto;
}
.disclaimer{
    display: none;
}
/* fin footer */