/* footer */
footer {
    background: rgb(128, 128, 128);
    background: radial-gradient(circle, rgba(128, 128, 128, 1) 0%, rgba(124, 166, 141, 0.456) 100%);
    margin: 0;

    .pie {
        padding-top: 2.8em;
        @include flexbox(flex, center, center);
        
        .pie__ul {
            width: 12em;
            @include flexbox(flex, space-around, center);
            list-style: none;
            padding: 0;

            li a img {
                width: 2em;
                margin-bottom: 0;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.4);
                }
            }
        }
    }
}
.copyr{
    color: map-get($map: $colores, $key: primero);
    @include btn(0, .8em, 500);
    @include flexbox(flex, center, flex-start);
    padding: 0;
    margin: 0 auto 2em auto;
}
.disclaimer{
    display: none;
}
/* fin footer */