/* formulario */
@import '../base/mixins';

.form {
    background-image: url(../img/back.webp);
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 1em 0;

    .form__cont {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        padding: .9em 0 .8em 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        label {
            margin-top: 0.8em;
            width: 70%;
        }

        .input,
        .input--submit {
            width: 70%;
            padding: 0.8em;
            margin: 0.4em;
            resize: none;
            @include btn(.8rem, .9rem, 600);
        
            &.input:focus {
                background: rgb(255, 255, 255);
                background: linear-gradient(71deg, rgba(255, 255, 255, 1) 0%, rgba(124, 166, 141, 1) 100%);
            }
        }

        .input--submit {
            margin-top: 1.2em;
            font-family: $letra-principal;
            background-color: map-get($map: $colores, $key: segundo);
            border: 1px solid map-get($map: $colores, $key: primero);
            transition: all .3s;

            &:hover {
                background-color: map-get($map: $colores, $key: primero);
                color: map-get($map: $colores, $key: cuarto);
                border: 1px solid map-get($map: $colores, $key: cuarto);
            }
        }
    }

    .form__volver {
        padding: 3em;
        margin: auto;
        text-align: center;

        .volver {
            background-color: map-get($map: $colores, $key: cuarto);
            color: map-get($map: $colores, $key: primero);
            @include btn(.8rem, .8rem, 600);
            width: 5.5em;
            text-decoration: none;
            padding: .8em;
            transition: all .3s;

            &:hover {
                background-color: map-get($map: $colores, $key: primero);
                color: map-get($map: $colores, $key: cuarto);
                border: 1px solid map-get($map: $colores, $key: cuarto);
            
            }
        }
    }
}

/* fin formulario */