
/* header */

@import '../base/mixins';

header {
    padding: 2.1em 0;

    .navegador {
        font-family: $letra-principal;
        position: fixed;
        top: 0;
        z-index: 100;
        background-color: map-get($map: $colores, $key: primero);

        .contact {
            @include btn(.8rem, .8rem, 500);
            padding: 0.5em;
            border: 0.28em solid map-get($map: $colores, $key: tercero);
            transition: .3s;

            &:hover {
                transform: scale(1.15)
            }
        }

        .nav-item a:hover {
            color: map-get($map: $colores, $key: segundo);
            padding-top: 0.3em;
            border-top: 0.16em solid map-get($map: $colores, $key: segundo);
        }

        .drop {
            background-color: map-get($map: $colores, $key: primero);

        }

    }
}

/* fin header */
