@mixin titu($top, $align) {
    margin-top: $top;
    text-align: $align;
}

@mixin btn($radius, $size, $weight) {
    border-radius: $radius;
    font-size: $size;
    font-weight: $weight;
}

@mixin centrado($width, $margin){
    width: $width;
    margin: $margin;
}

@mixin flexbox($display, $jc, $ai){
    display: $display;
    justify-content: $jc;
    align-items: $ai;
}